Redirect permanent /antennas/4568831022 http://radio.g4hsk.co.uk/2m-eme/eme-antennas/
Redirect permanent /4m/4551229145 http://radio.g4hsk.co.uk/4m/
Redirect permanent /page/4551253429 http://radio.g4hsk.co.uk/digi-modes/
Redirect permanent /page/4551253236 http://radio.g4hsk.co.uk/remote-control/
Redirect permanent /page/4551230851 http://radio.g4hsk.co.uk/2m-eme/
Redirect permanent /page/4551351008 http://radio.g4hsk.co.uk/2m-eme/2m-eme-initials-worked/
Redirect permanent /2m-eme-initials-worked/4555661309 http://radio.g4hsk.co.uk/2m-eme/2m-eme-initials-worked/
Redirect permanent /2m-eme-rotator-controller/4561530703 http://radio.g4hsk.co.uk/2m-eme/rotator-controller/
Redirect temp / http://radio.g4hsk.co.uk/
